{% extends 'EventWebSite/base.html' %}

{% load static %}

{% block title %}

    <title>Kg-Events</title>

{% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/EventWebSite/event_detail.css' %}">
    <style>
        .textbox{
            border: 2px black solid;
        }
        .eventbox>p{
            font-weight: bold;
            
        }
    </style>
    
{% endblock %}

{% block content %}
<!-- <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGfDaB0fBUH2Qams0LolYwb2jxWo496iHTCg&usqp=CAU">

</div> -->


<!-- <form id="event_search" method="GET">
    {% csrf_token %}
    <input class="textbox" type="text" name="q" placeholder="Search event">
    <button style="color: black;" class="submitbtn" type="submit">Search</button>
    <button class="submitbtn">
        <a style="color: black;"href="{% url 'event_detail' %}">Clear Search</a>
    </button>
</form> -->
<br><br><br>
<div class="event_container" >
    {% for event in event_list %}    
        <div class="eventbox" >
            <img src="{{ event.event_logo.url }}" height="300px" width="300px">
            <p class="title">{{event.event_name}}</p>
            <p>{{event.event_detail}}</p>
            <p><span class="label">Rules:</span> {{event.rules}}</p>
            
            <p><span class="label">Status:</span> {{event.event_status}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block loadScript %}

{% endblock %}